h1 {
	text-align: center;
	font-family: "courier";
	color: #eeeeee;
	padding: 10px 10px;
	text-shadow: 3px 3px black;
}

.Bluesector h1 {
	color: #222222;
	text-shadow: 1px 1px black;
}

h2 {
	text-align: center;
	font-family: "courier";
	color: #eeeeee;
	padding-top: 22px;
	text-shadow: 3px 3px black;
}

h3 {
	text-align: center;
	font-family: "courier";
	color: #eeeeee;
	text-shadow: 3px 3px black;
}

#main {
	width: 100%;
	background: #222222;
	margin: 0px auto;
	content: "";
 	clear: both;
 	display: table;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 40px;
  left: 40px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 40px;
  right: 40px;
}

/* Top center text */
.top-center {
  position: absolute;
  top: 40px;
  right: 50%;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

/* Centered text */
.centered {
  position: absolute;
  transform: translate(-50%, -50%);
}

#fullPageImageDesktop {
	display: block;
	width: 100%;
}

#fullPageImageMobile {
	display: none;
}

a h1 mark {
	color: #222222;
	text-shadow: 1px 1px #444444;
	background-color: #eeeeee;
	padding: 8px 12px 0px 12px;
	border-style: solid;
	border-color: #222222;
}

a h1 mark:hover {
	color: black;
	background: white;
	border-color: black;
}

.container div a {
	text-decoration: none;
}

.Bluesector {
	width: 90%;
	background: #40E0D0;
	margin: 40px auto;
	border-radius: 25px;
	border: 6px solid #eeeeee;
	outline: 6px dashed #eeeeee;
}

.padded {
	padding: 10px 42px;
}

body {
	background: grey;
}

a {
	color: #cccc33;
	text-decoration: none;
}

a:hover {
	color: #ffff00;
	text-decoration: underline;
}

#navbar {
	top: 0;
	width: 100%;
	background: #000000;
	color: white;
	padding-bottom: 6px;
}

#navbar a {
	text-decoration: none;
	color: #40E0D0;
	font-weight: bold;
}

pre {
	background: #ffffff;
	margin: 10px auto;
	border: #000000;
}

p {
	padding: 5px 18px;
	color: #eeeeee;
	text-align: left;
	font-family: "Liberation Serif";
}

li {
	color: #eeeeee;
	font-family: monospace;
}

nav ul {
	margin: 0px;
	font-size: 15px;
	text-align: center;
}

nav ul li {
	background: #222222;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
}

nav ul li:hover {
	background: #f5f5f5;
}

.centerlist {
	color:black;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.gysh {
	color: #555555;
	font-weight: 700;
	font-family: "terminal";
}

.gsh {
	color: green;
	font-weight: 700;
	font-family: "terminal";
}

.osh {
	color: orange;
	font-weight: 700;
	font-family: "terminal";
}

.rsh {
	color: red;
	font-weight: 700;
	font-family: "terminal";
}

.left {
	float: left;
	padding: 0 10px 0 0;
}

.right {
	float: right;
	padding: 0 10px 0 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.centext {
	padding: 5px 45px;
	color: #eeeeee;
	text-align: center;
	font-size: 20px;
	font-family: "Liberation Serif";
}

.centext code {
	font-size: 80%;
	color: grey;
}

.Bluesector .centext {
	padding: 5px 45px;
	color: #222222;
	text-align: center;
	font-size: 25px;
	font-family: "Liberation Serif";
}

.hide{
	display: none;
}

.nodecor {
	text-decoration: none;
}

#banner {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



.doubleDiv {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.doubleDiv div {
	justify-content: center;
	border-radius: 1em;
	background: red;
}

#doubleDivOfCOM_U_PROF_CODE {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

#doubleDivOfCOM_U_PROF_CODE div.generator {
	background: #377dc0;
	border-radius: 0.3em;
	padding-left-right: 1em;
	margin: 1em;
}

#doubleDivOfCOM_U_PROF_CODE div.parser {
	background: #c06937;
	border-radius: 0.3em;
	padding-left-right: 1em;
	margin: 1em;
}

#doubleDivOfCOM_U_PROF_CODE div.generator:hover {
	background: #2858ab;
}

#doubleDivOfCOM_U_PROF_CODE div.parser:hover {
	background: #854c28;
}

#doubleDivOfCOM_U_PROF_CODE div a {
	text-decoration: none;
}

.generatordiv {
	width: 98%;
	margin: 0 auto;
	background: #377dc0;
}

.parserdiv {
	width: 98%;
	margin: 0 auto;
	background: #c06937;
	border-radius: 10px;
}

th.thborder{
	border: 1px solid black; 
}

#input_com_u_prof_code {
	width: 100%;
}


#output_com_u_prof_code {
	width: 100%;
}

#decodeButton {
	color: black;
	background-color: #2858ab;
	font-weight: bold;
	font-size: 30px;
}

#decodeButton:hover {
	color: white;
}

#copyButton {
	color: black;
	background-color: #2858ab;
	font-weight: bold;
	font-size: 30px;
}

#copyButton:hover {
	color: white;
}

@media only screen and (max-width: 1000px) {}

.centimage {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rightimage {
	width: 37%;
	float: right;
	padding: 10px;
}

.centerpaper {
	display: block;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #c1cee3;
}

.term {
	background: black;
	margin: 20px;
	padding: 6px 10px 0px 10px;
}

.prompt {
	color: white;
}

.pihostname {
	color: #0ad500;
	font-weight: bold;
}

.picol {
	color: white;
	font-weight: bold;
}

.pitil {
	color: #3933aa;
	font-weight: bold;
}

.command {
	color: white;
	font-weight: bold;
}

.term div {
	background: black;
	color: white;
	padding: 2px 10px;
}



hr.divider {
  border: 1px solid black;
}

table.leftable{
	width: 100%;
	text-align: left;
}

table.centable{
	width: 100%;
	text-align: center;
}

th.leftcolumn{
	text-align: left;
}

th.rightcolumn{
    text-align: right;
}


table.dictabhead {
	width: 90%;
	text-align: center;
	padding: 7px 5% 7px 5%;
	margin: 30px 5% 0 5%;
	border: 2px solid grey;
}

table.dictabhead tr th {
	font-size: 20px;
}

table.dictabhead tr th.word {
	font-size: 40px;
	text-align: left;
	padding-left: 20px;
}

table tr th.number {
	font-size: 20px;
	text-align: left;
	padding: 10px;
}

table.dictabdefs {
	width: 90%;
	text-align: left;
	padding: 7px 5% 7px 5%;
	margin: 0 5% 30px 5%;
	border: 2px solid grey;
}

table.dictabdefs tr th {
	font-weight: 100;
}

table.dictabdefs tr th.example {
	color: grey;
	padding-bottom: 20px;
}

.bookTable {
	border-collapse: collapse;
	color: black;
	background: #dddddd;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
}

.bookTable th{
	border: 1px solid;
	font-weight: bold;
	padding: 6px;
}

.headerRow th {
	font-weight: bold;
	background: black;
	color: #dddddd;
}

.bookComplete {
	background: #22ff22;
}

.bookInProgress {
	background: #ffc015;
}

.bookNotStarted {
	background: #ff2222;
}




.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}



.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}













@media only screen and (max-width: 1000px) {

	.centimage {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.rightimage {
		width: 80%;
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	#banner {
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	nav ul {
		margin: 0px;
		font-size: 22px;
		text-align: center;
	}

	#fullPageImageDesktop {
		display: none;
	}

	#fullPageImageMobile {
		display: block;
		width: 100%;
	}

	.bottom-left {
  		position: absolute;
		bottom: 5%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
	}

	.top-left {
  		position: absolute;
  		top: 5%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;

	}

	.top-right {
  		position: absolute;
		top: 30%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
	}

	.bottom-right {
  		position: absolute;
		bottom: 30%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
	}
}
